header {
    background: #0328DE;
    color: #ffffff;
    padding: 2% 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

thead{
    background: #0328DE;
    color: #ffffff;
}

#sect-tipo{
    padding: 3% 0;
}

.img {
    height: 70px;
    width: auto;
}

strong {
    font-size: 14px;
}

.img_btn {
    height: 40px;
    width: auto;
}

.btn {
    border-radius: 5px;
}

.btn-group {
    width: 75px;
    margin: 5px;
    border: solid 2px;
    border-radius: 5px;
}

.mobile{
    display: none;
}

.medium{
    display: none;
}

.btn-egg{
    height: 40px;
        width: 75px;
}

@media (max-width: 425px){ 
    .img {
        height: 60px;
        width: auto;
    }
    .btn-group {
        height: 40px;
        width: 76px;
        font-size: 0;
        line-height: 0;
    }
    .img_btn { 
        display: none;
    }
    #pokemon-go {
        width: 90px;
        height: auto;
    }
    .title{
        font-size: 30px;
    }
    .large{
        display: none;
    }
    .mobile{
        display: block;
        /* border: black solid;
        margin-right: 0px;
        padding-right: 0px; */
    }
    .laptop{
        display: none;
    }
    .lt{
        display: none;
    }
}

@media (max-width: 767px){
    .large{
        display: none;
    }
    .mobile{
        display: block;
        /* border: black solid;
        margin-right: 0px;
        padding-right: 0px; */
    }
    .laptop{
        display: none;
    }
    .lt{
        display: none;
    }
    /* .medium{
        display: block
    }
    .lt{
        display: none
    } */
}

.table { 
    border-collapse: collapse;
    /* width: 100%; */
    /* table-layout: auto; 
    width: auto; */ 
    /* margin-left: auto; 
    margin-right: auto;  */
}  
  
th, td {
    padding: 8px;
    text-align: left;
    border-right: 0px white;
    border-bottom: 1px solid black;
}

.col-4{
    margin-bottom: 10px;
}

/* #percent{ 
    text-align: center;
}  */
